table.geoop-form-table {
	width: 400px;
	border-collapse: collapse;
	border: none;
}

table.geoop-form-table td {
	padding-bottom: 5px;
}

table.geoop-form-table td.geoop-form-table-name {
	width: 130px;
}

table.geoop-form-table input,
table.geoop-form-table select,
table.geoop-form-table textarea {
	border: 1px solid #CCC;
	padding: 4px;
	width: 250px;
}

table.geoop-form-table select {
	width: 260px;
}

table.geoop-form-table input.geoop-form-invalid,
table.geoop-form-table select.geoop-form-invalid,
table.geoop-form-table textarea.geoop-form-invalid {
	border-color: #FF8080;
}

table.geoop-form-table textarea {
	resize: vertical;
	min-height: 100px;
	max-height: 300px;
	font-family: inherit;
}

input#geoop-form-stpr,
input#geoop-form-job-start-date,
input#geoop-form-postcode {
	width: 133px;
	margin-right: 4px;
}

input#geoop-form-postcode {
	width: 99px;
}

select#geoop-form-job-start-hour,
select#geoop-form-job-start-minute {
	width: 50px;
	margin-right: 4px;
}

span.geoop-asterisk {
	font-size: 75%;
	vertical-align: text-top;
	color: #d33232;
}

span.geoop-form-submitting {
    margin-left: 10px;
    display: none;
}

.ui-widget {
	font-size: 0.8em !important;
}